<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FISHING</title>
  <link rel="icon" href="static/favicon.ico" />
  <style>
    h1 {text-align: center; color: white}
    h2 {text-align: center; color: white}
    .center {
    margin: auto;
    background: lightgray;
    font-size:10px;
    padding: 5px;
    border: 2px solid lightgray;
    width: 500px;
    }
    p {text-align: center;}
    form {text-align: center;}
    body {background-image: url('/static/Background.png')}
  </style>
</head>
<body>
<h1>Welcome to FISH ISCN Nomenclature Generator (FISHING)</h1>
<div class="center">
<p>The interface is aiming to simplify the generation of an ISCN compliant annotation for break-apart FISH probe counts obtained from interphase hybridization. After selecting the test, the interface will ask for signal counts from atleast n=50 nuclei. Using the ISCN nomenclature, the interface will transform these counts and generate the probe specific annotation.
  <br><u>Note</u>: The interface is considered an ISCN result generator to simplify FISH Break-Apart annotation.</p>
</div>
  <h2>Select a FISH Probe</h2>
  <form action="/count" method="POST">
    <select id="Test Name" name = "TEST_NAME">
      <option value="ROS1">ROS1</option>
      <option value="ALK">ALK</option>
      <option value="RET">RET</option>
      <option value="SYT">SYT</option>
      <option value="BCL2">BCL2</option>
      <option value="BCL6">BCL6</option>
      <option value="CHOP">CHOP</option>
      <option value="EWSR1">EWSR1</option>
      <option value="FKHR">FKHR</option>
      <option value="MYC">MYC</option>
      <option value="NTRK1">NTRK1</option>
      <option value="NTRK3">NTRK3</option>
      <option value="GENE_RED">5' Red 3' Green</option>
      <option value="GENE_GREEN">5' Green 3' Red</option>
    </select>
    <input type="submit" name="sub_button" value="Submit">
  </form>
</body>
</html>
