<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FISH Test</title>
  <style>
    h1 {text-align: center;}
    h2 {text-align: center;}
    form {text-align: center;}
  </style>
</head>
<body>
<h1>Welcome to FISH Testing and Counting</h1>
  <h2>Select a Test</h2>
  <form action="/count" method="POST">
    <select id="Test Name" name = "TEST_NAME">
      <option value="ROS1">ROS1</option>
      <option value="ALK">ALK</option>
      <option value="RET">RET</option>
      <option value="SYT">SYT</option>
      <option value="BCL2">BCL2</option>
      <option value="BCL6">BCL6</option>
      <option value="CHOP">CHOP</option>
      <option value="EWSR1">EWSR1</option>
      <option value="FKHR">FKHR</option>
      <option value="MYC">MYC</option>
      <option value="NTRK1">NTRK1</option>
      <option value="NTRK3">NTRK2</option>
    </select>
    <input type="submit" name="sub_button" value="Submit">
  </form>
</body>
</html>
