<!DOCTYPE html>
<html lang="en">
<head>
<!--    <link rel="icon" type="image/x-icon" href="static/favicon.ico" sizes="32x32" />-->
    <meta charset="UTF-8">
    <title>FISH Test</title>
    <style>
    h2 {text-align: center;}
    img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  </style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<body>
<h2><u>Results</u></h2>
<h3><u>Test</u>: {{ TEST_NAME }} Break-Apart FISH Probe</h3>
<h3><u>ISCN Nomenclature</u></h3>
<h3 id="nomen">{{ Nom | safe }}</h3><button onclick="copyToClipboard('#nomen')">Copy</button>
<h3><u>Cutoff Value</u>: {{ cut }}</h3>
{% if TEST_NAME == 'ALK' %}
<img src="{{url_for('static', filename='ALK.png')}}" />
{% endif %}
{% if TEST_NAME == 'RET' %}
<img src="{{url_for('static', filename='RET.png')}}" />
{% endif %}
{% if TEST_NAME == 'BCL2' %}
<img src="{{url_for('static', filename='BCL2.png')}}" />
{% endif %}
{% if TEST_NAME == 'BCL6' %}
<img src="{{url_for('static', filename='BCL6.png')}}" />
{% endif %}
{% if TEST_NAME == 'FKHR' %}
<img src="{{url_for('static', filename='FKHR.png')}}" />
{% endif %}
{% if TEST_NAME == 'CHOP' %}
<img src="{{url_for('static', filename='CHOP.png')}}" />
{% endif %}
{% if TEST_NAME == 'EWSR1' %}
<img src="{{url_for('static', filename='EWSR1.png')}}" />
{% endif %}
{% if TEST_NAME == 'MYC' %}
<img src="{{url_for('static', filename='MYC.png')}}" />
{% endif %}
{% if TEST_NAME == 'SYT' %}
<img src="{{url_for('static', filename='SYT.png')}}" />
{% endif %}
<h3><u>Nomenclature Breakdown</u></h3>
<h3 style="color:orange" id="fsd">FUSED</h3>
<h3 id="fused" style="font-weight:normal">{{ fsd | safe }}</h3><button onclick="copyToClipboard('#fsd')">Copy</button>
<hr>
<h3>SPLIT</h3>
<h3 style="font-weight:normal" id="splt">{{ splt | safe }}</h3><button onclick="copyToClipboard('#splt')">Copy</button>
<hr>
{% if TEST_NAME == 'ROS1' or TEST_NAME == 'ALK' or TEST_NAME == 'CHOP' or TEST_NAME == 'FKHR' or TEST_NAME == 'NTRK1' or TEST_NAME == 'NTRK3' %}
<h3 style="color:red">ISOLATED 3'</h3>
{% endif %}
{% if TEST_NAME == 'MYC' or TEST_NAME == 'BCL2' or TEST_NAME == 'BCL6' or TEST_NAME == 'RET' or TEST_NAME == 'EWSR1' or TEST_NAME == 'SYT' %}
<h3 style="color:green">ISOLATED 3'</h3>
{% endif %}
<h3 style="font-weight:normal" id="iso3">{{ iso3 | safe }}</h3><button onclick="copyToClipboard('#iso3')">Copy</button>
<hr>
{% if TEST_NAME == 'ROS1' or TEST_NAME == 'ALK' or TEST_NAME == 'CHOP' or TEST_NAME == 'FKHR' or TEST_NAME == 'NTRK1' or TEST_NAME == 'NTRK3' %}
<h3 style="color:green">ISOLATED 5'</h3>
{% endif %}
{% if TEST_NAME == 'MYC' or TEST_NAME == 'BCL2' or TEST_NAME == 'BCL6' or TEST_NAME == 'RET' or TEST_NAME == 'EWSR1' or TEST_NAME == 'SYT' %}
<h3 style="color:red">ISOLATED 5'</h3>
{% endif %}
<h3 style="font-weight:normal" id="iso5">{{ iso5 | safe }}</h3><button onclick="copyToClipboard('#iso5')">Copy</button>
<hr>
<h3>Total Counted: {{ add }}</h3>
<h3>FISH Result: {{ out_final }}</h3>
</body>
<script>
function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}
</script>
</html>
