<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="static/favicon.ico" />
    <meta charset="UTF-8">
    <title>FISHING</title>
    <style>
    h2 {text-align: center;}
    img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {background-color: black; color: white; line-height: 15px}
  </style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<body>
<h2><u>Results</u></h2>
<h3 style="font-weight:normal"><u>Test</u>: {{ TEST_NAME }} Break-Apart FISH Probe</h3>
<h3 style="font-weight:normal"><u>Total Counted</u>: {{ add }}</h3>
<h3 style="font-weight:normal"><u>ISCN Nomenclature</u></h3>
{% if TEST_NAME == 'ROS1' or TEST_NAME == 'ALK' or TEST_NAME == 'CHOP' or TEST_NAME == 'FKHR' or TEST_NAME == 'NTRK1' or TEST_NAME == 'NTRK3' or TEST_NAME == 'MYC' or TEST_NAME == 'BCL2' or TEST_NAME == 'BCL6' or TEST_NAME == 'RET' or TEST_NAME == 'EWSR1' or TEST_NAME == 'SYT' %}
<h3 id="nomen" style="font-weight:normal">{{ Nom | safe }}</h3><button onclick="copyToClipboard('#nomen')">Copy</button>
{% endif %}
{% if TEST_NAME == 'GENE_RED' or TEST_NAME == 'GENE_GREEN' %}
<h3 id="nomen" style="font-weight:normal" contenteditable="true">{{ Nom | safe }}</h3><button onclick="copyToClipboard('#nomen')">Copy</button>
{% endif %}
<h3 style="font-weight:normal"><u>Nomenclature Breakdown</u></h3>
<h3 style="color:blue">NON-FUSED {{ non_fused_perc }}%</h3>
<h3 id="non-fused" style="font-weight:normal">Non-Fused Count: {{ non_fused }}/{{ add }}</h3>
<hr>
{% if TEST_NAME == 'ROS1' or TEST_NAME == 'ALK' or TEST_NAME == 'CHOP' or TEST_NAME == 'FKHR' or TEST_NAME == 'NTRK1' or TEST_NAME == 'NTRK3' or TEST_NAME == 'GENE_GREEN' %}
{% if nom1 == fsd %}
<h3 style="color:orange">FUSED {{ fused_perc }}%</h3>
<h3 id="fused" style="font-weight:normal">{{ nom1 | safe }}</h3>
<hr>
{% endif %}
{% if nom1 == splt %}
<h3>SPLIT {{ split_perc }}%</h3>
<h3 style="font-weight:normal" id="splt">{{ nom1 | safe }}</h3>
<hr>
{% endif %}
{% if nom1 == iso5 %}
<h3 style="color:green">ISOLATED 5' {{ iso5_perc }}%</h3>
<h3 style="font-weight:normal" id="iso5">{{ nom1 | safe }}</h3>
<hr>
{% endif %}
{% if nom1 == iso3 %}
<h3 style="color:red">ISOLATED 3' {{ iso3_perc }}%</h3>
<h3 style="font-weight:normal" id="iso3">{{ nom1 | safe }}</h3>
<hr>
{% endif %}
{% if nom2 == fsd %}
<h3 style="color:orange">FUSED {{ fused_perc }}%</h3>
<h3 id="fused" style="font-weight:normal">{{ nom2 | safe }}</h3>
<hr>
{% endif %}
{% if nom2 == splt %}
<h3>SPLIT {{ split_perc }}%</h3>
<h3 style="font-weight:normal" id="splt">{{ nom2 | safe }}</h3>
<hr>
{% endif %}
{% if nom2 == iso5 %}
<h3 style="color:green">ISOLATED 5' {{ iso5_perc }}%</h3>
<h3 style="font-weight:normal" id="iso5">{{ nom2 | safe }}</h3>
<hr>
{% endif %}
{% if nom2 == iso3 %}
<h3 style="color:red">ISOLATED 3' {{ iso3_perc }}%</h3>
<h3 style="font-weight:normal" id="iso3">{{ nom2 | safe }}</h3>
<hr>
{% endif %}
{% if nom3 == fsd %}
<h3 style="color:orange">FUSED {{ fused_perc }}%</h3>
<h3 id="fused" style="font-weight:normal">{{ nom3 | safe }}</h3>
<hr>
{% endif %}
{% if nom3 == splt %}
<h3>SPLIT {{ split_perc }}%</h3>
<h3 style="font-weight:normal" id="splt">{{ nom3 | safe }}</h3>
<hr>
{% endif %}
{% if nom3 == iso5 %}
<h3 style="color:green">ISOLATED 5' {{ iso5_perc }}%</h3>
<h3 style="font-weight:normal" id="iso5">{{ nom3 | safe }}</h3>
<hr>
{% endif %}
{% if nom3 == iso3 %}
<h3 style="color:red">ISOLATED 3' {{ iso3_perc }}%</h3>
<h3 style="font-weight:normal" id="iso3">{{ nom3 | safe }}</h3>
<hr>
{% endif %}
{% if nom4 == fsd %}
<h3 style="color:orange">FUSED {{ fused_perc }}%</h3>
<h3 id="fused" style="font-weight:normal">{{ nom4 | safe }}</h3>
<hr>
{% endif %}
{% if nom4 == splt %}
<h3>SPLIT {{ split_perc }}%</h3>
<h3 style="font-weight:normal" id="splt">{{ nom4 | safe }}</h3>
<hr>
{% endif %}
{% if nom4 == iso5 %}
<h3 style="color:green">ISOLATED 5' {{ iso5_perc }}%</h3>
<h3 style="font-weight:normal" id="iso5">{{ nom4 | safe }}</h3>
<hr>
{% endif %}
{% if nom4 == iso3 %}
<h3 style="color:red">ISOLATED 3' {{ iso3_perc }}%</h3>
<h3 style="font-weight:normal" id="iso3">{{ nom4 | safe }}</h3>
<hr>
{% endif %}
{% endif %}
{% if TEST_NAME == 'MYC' or TEST_NAME == 'BCL2' or TEST_NAME == 'BCL6' or TEST_NAME == 'RET' or TEST_NAME == 'EWSR1' or TEST_NAME == 'SYT' or TEST_NAME == 'GENE_RED' %}
{% if nom1 == fsd %}
<h3 style="color:orange">FUSED {{ fused_perc }}%</h3>
<h3 id="fused" style="font-weight:normal">{{ nom1 | safe }}</h3>
<hr>
{% endif %}
{% if nom1 == splt %}
<h3>SPLIT {{ split_perc }}%</h3>
<h3 style="font-weight:normal" id="splt">{{ nom1 | safe }}</h3>
<hr>
{% endif %}
{% if nom1 == iso5 %}
<h3 style="color:red">ISOLATED 5' {{ iso5_perc }}%</h3>
<h3 style="font-weight:normal" id="iso5">{{ nom1 | safe }}</h3>
<hr>
{% endif %}
{% if nom1 == iso3 %}
<h3 style="color:green">ISOLATED 3' {{ iso3_perc }}%</h3>
<h3 style="font-weight:normal" id="iso3">{{ nom1 | safe }}</h3>
<hr>
{% endif %}
{% if nom2 == fsd %}
<h3 style="color:orange">FUSED {{ fused_perc }}%</h3>
<h3 id="fused" style="font-weight:normal">{{ nom2 | safe }}</h3>
<hr>
{% endif %}
{% if nom2 == splt %}
<h3>SPLIT {{ split_perc }}%</h3>
<h3 style="font-weight:normal" id="splt">{{ nom2 | safe }}</h3>
<hr>
{% endif %}
{% if nom2 == iso5 %}
<h3 style="color:red">ISOLATED 5' {{ iso5_perc }}%</h3>
<h3 style="font-weight:normal" id="iso5">{{ nom2 | safe }}</h3>
<hr>
{% endif %}
{% if nom2 == iso3 %}
<h3 style="color:green">ISOLATED 3' {{ iso3_perc }}%</h3>
<h3 style="font-weight:normal" id="iso3">{{ nom2 | safe }}</h3>
<hr>
{% endif %}
{% if nom3 == fsd %}
<h3 style="color:orange">FUSED {{ fused_perc }}%</h3>
<h3 id="fused" style="font-weight:normal">{{ nom3 | safe }}</h3>
<hr>
{% endif %}
{% if nom3 == splt %}
<h3>SPLIT {{ split_perc }}%</h3>
<h3 style="font-weight:normal" id="splt">{{ nom3 | safe }}</h3>
<hr>
{% endif %}
{% if nom3 == iso5 %}
<h3 style="color:red">ISOLATED 5' {{ iso5_perc }}%</h3>
<h3 style="font-weight:normal" id="iso5">{{ nom3 | safe }}</h3>
<hr>
{% endif %}
{% if nom3 == iso3 %}
<h3 style="color:green">ISOLATED 3' {{ iso3_perc }}%</h3>
<h3 style="font-weight:normal" id="iso3">{{ nom3 | safe }}</h3>
<hr>
{% endif %}
{% if nom4 == fsd %}
<h3 style="color:orange">FUSED {{ fused_perc }}%</h3>
<h3 id="fused" style="font-weight:normal">{{ nom4 | safe }}</h3>
<hr>
{% endif %}
{% if nom4 == splt %}
<h3>SPLIT {{ split_perc }}%</h3>
<h3 style="font-weight:normal" id="splt">{{ nom4 | safe }}</h3>
<hr>
{% endif %}
{% if nom4 == iso5 %}
<h3 style="color:red">ISOLATED 5' {{ iso5_perc }}%</h3>
<h3 style="font-weight:normal" id="iso5">{{ nom4 | safe }}</h3>
<hr>
{% endif %}
{% if nom4 == iso3 %}
<h3 style="color:green">ISOLATED 3' {{ iso3_perc }}%</h3>
<h3 style="font-weight:normal" id="iso3">{{ nom4 | safe }}</h3>
<hr>
{% endif %}
{% endif %}
<h3 style="font-weight:normal"><u>FISH Result</u> (as string; format is R,G,Y;R,G,Y;..)</h3>
<h3 id="fish" style="font-weight:normal">{{ out_final }}</h3><button onclick="copyToClipboard('#fish')">Copy</button>
<h3 style="font-weight:normal"><u>Cutoff Value</u>: {{ cut }}</h3>
{% if TEST_NAME == 'ALK' %}
<img src="{{url_for('static', filename='ALK.png')}}" />
{% endif %}
{% if TEST_NAME == 'RET' %}
<img src="{{url_for('static', filename='RET.png')}}" />
{% endif %}
{% if TEST_NAME == 'BCL2' %}
<img src="{{url_for('static', filename='BCL2.png')}}" />
{% endif %}
{% if TEST_NAME == 'BCL6' %}
<img src="{{url_for('static', filename='BCL6.png')}}" />
{% endif %}
{% if TEST_NAME == 'FKHR' %}
<img src="{{url_for('static', filename='FKHR.png')}}" />
{% endif %}
{% if TEST_NAME == 'CHOP' %}
<img src="{{url_for('static', filename='CHOP.png')}}" />
{% endif %}
{% if TEST_NAME == 'EWSR1' %}
<img src="{{url_for('static', filename='EWSR1.png')}}" />
{% endif %}
{% if TEST_NAME == 'MYC' %}
<img src="{{url_for('static', filename='MYC.png')}}" />
{% endif %}
{% if TEST_NAME == 'SYT' %}
<img src="{{url_for('static', filename='SYT.png')}}" />
{% endif %}
</body>
<script>
function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}
</script>
</html>
