<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FISH Test</title>
    <style>
    h2 {text-align: center;}
    h3 {text-align: center;}
    div {text-align: center;}
    .center {
  margin-left: auto;
  margin-right: auto;
}
  </style>
</head>

<h2>{{ TEST_NAME }}</h2>
<h3>Enter Count Below</h3>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<div id="data_container">
  <form action="/nom" method="POST">
    <table id="table" class="center">
      <thead>
        <tr><th>Red</th><th>Green</th><th>Yellow</th></tr>
      </thead>
      <tbody>
        <tr><td>1 <input name="r1c1" type="text"></td><td><input name="r1c2" type="text"></td><td><input name="r1c3" type="text"></td></tr>
        <tr><td>2 <input name="r2c1" type="text"></td><td><input name="r2c2" type="text"></td><td><input name="r2c3" type="text"></td></tr>
        <tr><td>3 <input name="r3c1" type="text"></td><td><input name="r3c2" type="text"></td><td><input name="r3c3" type="text"></td></tr>
        <tr><td>4 <input name="r4c1" type="text"></td><td><input name="r4c2" type="text"></td><td><input name="r4c3" type="text"></td></tr>
        <tr><td>5 <input name="r5c1" type="text"></td><td><input name="r5c2" type="text"></td><td><input name="r5c3" type="text"></td></tr>
        <tr><td>6 <input name="r6c1" type="text"></td><td><input name="r6c2" type="text"></td><td><input name="r6c3" type="text"></td></tr>
        <tr><td>7 <input name="r7c1" type="text"></td><td><input name="r7c2" type="text"></td><td><input name="r7c3" type="text"></td></tr>
        <tr><td>8 <input name="r8c1" type="text"></td><td><input name="r8c2" type="text"></td><td><input name="r8c3" type="text"></td></tr>
        <tr><td>9 <input name="r9c1" type="text"></td><td><input name="r9c2" type="text"></td><td><input name="r9c3" type="text"></td></tr>
        <tr><td>10 <input name="r10c1" type="text"></td><td><input name="r10c2" type="text"></td><td><input name="r10c3" type="text"></td></tr>
        <tr><td>11 <input name="r11c1" type="text"></td><td><input name="r11c2" type="text"></td><td><input name="r11c3" type="text"></td></tr>
        <tr><td>12 <input name="r12c1" type="text"></td><td><input name="r12c2" type="text"></td><td><input name="r12c3" type="text"></td></tr>
        <tr><td>13 <input name="r13c1" type="text"></td><td><input name="r13c2" type="text"></td><td><input name="r13c3" type="text"></td></tr>
        <tr><td>14 <input name="r14c1" type="text"></td><td><input name="r14c2" type="text"></td><td><input name="r14c3" type="text"></td></tr>
        <tr><td>15 <input name="r15c1" type="text"></td><td><input name="r15c2" type="text"></td><td><input name="r15c3" type="text"></td></tr>
        <tr><td>16 <input name="r16c1" type="text"></td><td><input name="r16c2" type="text"></td><td><input name="r16c3" type="text"></td></tr>
        <tr><td>17 <input name="r17c1" type="text"></td><td><input name="r17c2" type="text"></td><td><input name="r17c3" type="text"></td></tr>
        <tr><td>18 <input name="r18c1" type="text"></td><td><input name="r18c2" type="text"></td><td><input name="r18c3" type="text"></td></tr>
        <tr><td>19 <input name="r19c1" type="text"></td><td><input name="r19c2" type="text"></td><td><input name="r19c3" type="text"></td></tr>
        <tr><td>20 <input name="r20c1" type="text"></td><td><input name="r20c2" type="text"></td><td><input name="r20c3" type="text"></td></tr>
        <tr><td>21 <input name="r21c1" type="text"></td><td><input name="r21c2" type="text"></td><td><input name="r21c3" type="text"></td></tr>
        <tr><td>22 <input name="r22c1" type="text"></td><td><input name="r22c2" type="text"></td><td><input name="r22c3" type="text"></td></tr>
        <tr><td>23 <input name="r23c1" type="text"></td><td><input name="r23c2" type="text"></td><td><input name="r23c3" type="text"></td></tr>
        <tr><td>24 <input name="r24c1" type="text"></td><td><input name="r24c2" type="text"></td><td><input name="r24c3" type="text"></td></tr>
        <tr><td>25 <input name="r25c1" type="text"></td><td><input name="r25c2" type="text"></td><td><input name="r25c3" type="text"></td></tr>
        <tr><td>26 <input name="r26c1" type="text"></td><td><input name="r26c2" type="text"></td><td><input name="r26c3" type="text"></td></tr>
        <tr><td>27 <input name="r27c1" type="text"></td><td><input name="r27c2" type="text"></td><td><input name="r27c3" type="text"></td></tr>
        <tr><td>28 <input name="r28c1" type="text"></td><td><input name="r28c2" type="text"></td><td><input name="r28c3" type="text"></td></tr>
        <tr><td>29 <input name="r29c1" type="text"></td><td><input name="r29c2" type="text"></td><td><input name="r29c3" type="text"></td></tr>
        <tr><td>30 <input name="r30c1" type="text"></td><td><input name="r30c2" type="text"></td><td><input name="r30c3" type="text"></td></tr>
        <tr><td>31 <input name="r31c1" type="text"></td><td><input name="r31c2" type="text"></td><td><input name="r31c3" type="text"></td></tr>
        <tr><td>32 <input name="r32c1" type="text"></td><td><input name="r32c2" type="text"></td><td><input name="r32c3" type="text"></td></tr>
        <tr><td>33 <input name="r33c1" type="text"></td><td><input name="r33c2" type="text"></td><td><input name="r33c3" type="text"></td></tr>
        <tr><td>34 <input name="r34c1" type="text"></td><td><input name="r34c2" type="text"></td><td><input name="r34c3" type="text"></td></tr>
        <tr><td>35 <input name="r35c1" type="text"></td><td><input name="r35c2" type="text"></td><td><input name="r35c3" type="text"></td></tr>
        <tr><td>36 <input name="r36c1" type="text"></td><td><input name="r36c2" type="text"></td><td><input name="r36c3" type="text"></td></tr>
        <tr><td>37 <input name="r37c1" type="text"></td><td><input name="r37c2" type="text"></td><td><input name="r37c3" type="text"></td></tr>
        <tr><td>38 <input name="r38c1" type="text"></td><td><input name="r38c2" type="text"></td><td><input name="r38c3" type="text"></td></tr>
        <tr><td>39 <input name="r39c1" type="text"></td><td><input name="r39c2" type="text"></td><td><input name="r39c3" type="text"></td></tr>
        <tr><td>40 <input name="r40c1" type="text"></td><td><input name="r40c2" type="text"></td><td><input name="r40c3" type="text"></td></tr>
        <tr><td>41 <input name="r41c1" type="text"></td><td><input name="r41c2" type="text"></td><td><input name="r41c3" type="text"></td></tr>
        <tr><td>42 <input name="r42c1" type="text"></td><td><input name="r42c2" type="text"></td><td><input name="r42c3" type="text"></td></tr>
        <tr><td>43 <input name="r43c1" type="text"></td><td><input name="r43c2" type="text"></td><td><input name="r43c3" type="text"></td></tr>
        <tr><td>44 <input name="r44c1" type="text"></td><td><input name="r44c2" type="text"></td><td><input name="r44c3" type="text"></td></tr>
        <tr><td>45 <input name="r45c1" type="text"></td><td><input name="r45c2" type="text"></td><td><input name="r45c3" type="text"></td></tr>
        <tr><td>46 <input name="r46c1" type="text"></td><td><input name="r46c2" type="text"></td><td><input name="r46c3" type="text"></td></tr>
        <tr><td>47 <input name="r47c1" type="text"></td><td><input name="r47c2" type="text"></td><td><input name="r47c3" type="text"></td></tr>
        <tr><td>48 <input name="r48c1" type="text"></td><td><input name="r48c2" type="text"></td><td><input name="r48c3" type="text"></td></tr>
        <tr><td>49 <input name="r49c1" type="text"></td><td><input name="r49c2" type="text"></td><td><input name="r49c3" type="text"></td></tr>
        <tr><td>50 <input name="r50c1" type="text"></td><td><input name="r50c2" type="text"></td><td><input name="r50c3" type="text"></td></tr>
      </tbody>
    </table>
        <button type="submit" id="submit_rows">Submit</button>
      <input type="reset" value="Clear">
  </form>
  <button id="add_rows">Add Rows</button>
  <button id="del_rows">Delete Rows</button>
  <script>
          var c1 = 0;
          var c2 = 0;
          var c3 = 0;
          var c4 = 51;
          $("#add_rows").click(function() {
      // each click on the `+` button adds a row to the table
      var table = document.getElementById("table");
    var row = table.insertRow(-1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    cell1.innerHTML = ""+c4.toString()+" <input type='text' value=' ' name=cell1_"+c1.toString()+"> ";
    cell2.innerHTML = "<input type='text' value=' ' name=cell2_"+c2.toString()+"> ";
    cell3.innerHTML = "<input type='text' value=' ' name=cell3_"+c3.toString()+"> ";
    c1++;
    c2++;
    c3++;
    c4++;
    });

    $('input').on('paste', function(e){
      var $this = $(this);
      $.each(e.originalEvent.clipboardData.items, function(i, v){
          if (v.type === 'text/plain'){
              v.getAsString(function(text){
                  var x = $this.closest('td').index(),
                      y = $this.closest('tr').index()+1,
                      obj = {};
                  text = text.trim('\r\n');
                  $.each(text.split('\r\n'), function(i2, v2){
                      $.each(v2.split('\t'), function(i3, v3){
                          var row = y+i2, col = x+i3;
                          obj['cell-'+row+'-'+col] = v3;
                          $this.closest('table').find('tr:eq('+row+') td:eq('+col+') input').val(v3);
                      });
                  });

              });
          }
      });
      return false;

  });
      
    $("#del_rows").click(function() {
      // each click on the `-` button deletes a row to the table
      document.getElementById("table").deleteRow(-1);
    });
</script>

</div>
</html>
